* {
    box-sizing: border-box;
	margin:0; 
}
html {
	font-size: 15px;
}
body {

}
nav {
	width: 100%;
	position: fixed;
	top: 20px;
	z-index: 1;
}
.centerNavBar {
	background-color: #1c1c1c;
	border-radius: 30px;
	width: 1000px;
	margin: 0 auto;
	overflow: auto;
	padding: 10px;
}
nav li{
	list-style:none;
}
a {
	font-family: 'Lobster', 'cursive';
	 float:left;
	 color: #ffffff;
	 text-decoration: none;
	 margin-right: 90px;
	 font-size: 1.5rem;
} 
nav ul {
 	 margin:0 auto;
	 width:675px;
}
a:hover {
	color:#b69a46;
} 
header {
	width: 100%;
	height:750px;
 	background-size:cover;
 	background-image: url("images/header.jpg");
}
header h1{
	font-family: 'Allan'," cursive";
	padding-top:270px;
	text-align: center;
	font-size:4rem;
	color: #ffffff;		
}
.myName{
	color:#b69a46;
}
section {
	overflow:auto;
	width:80%;
	margin: 0 auto;
}
.titleAbout{
	font-family: 'Lobster', 'cursive';
	font-size:4rem;
	padding:80px 120px;
}
.myImage{
	margin-bottom: 6rem;
	float:left;
    width:250px;
	height:400px;
	background-image: url("images/iceland.jpg");
	background-repeat: no-repeat;
	background-size:cover;
	background-position:center center;
}
.aboutPar{
	width:60%;
	margin:40px 0px 200px 0px;
	font-family: 'Allan'," cursive";
	float:right;
	font-size:2rem;	
}
article{
background-color:#b69a46;
width: 100%;	
}	
article h1{
	font-size:4rem;
	text-align:center;
	padding-top:5rem;
	padding-bottom:1rem;
	font-family: 'Lobster', 'cursive';
}
.projectContainer{
	width:1000px;
	height:1000px;
	margin:0 auto;
	margin-bottom:40px;
}
.portBox{
	float:left;
	width:400px;
	height:200px;
	background:#ffffff;
	margin-left: 50px;
	margin-right: 40px;
	margin-top: 50px;
	border-radius:20px;
	box-shadow: 10px 9px 12px 0px rgba(0,0,0,0.75);
	background-image: url("images/commingSoon.jpg");
	background-repeat: no-repeat;
	background-size:cover;
	background-position:center center;

}
footer{
	background: linear-gradient(to left, #D3D3D3 0%, #b69a46 100%);
}
.gitLogo{
	float:right;
}	
.gitLogo img {
	margin-top:0.5rem;
	width:50px;
}
.contactEmail{
	display:inline-block;
	text-align:center;
	font-family: 'Allan'," cursive";
	font-size:3rem;	 
	margin-top:10px;
}

.geckoGame{
	background-image: url("images/pairsGame.gif");
	background-repeat: no-repeat;
	background-size:cover;
	background-position:center center;

}
.buttons {
	width: 100%;
	text-align: center;
	margin-top: 80px;
}
.buttons a {
	font-family: 'Allan'," cursive";
	width: 40%;
	background-color: #b69a46;
	color: #fff;
	transition: .5s;
	font-size: 1rem;
	border-style: none;
	margin: 5%;
	padding: 0.5rem;
	border-radius: 10px;
}

.middle a{
text-align: center;
}

.hidden {
	display: none;
}
.recepyGrub{
	background-image: url("images/GRUB.png");
	background-repeat: no-repeat;
	background-size:cover;
	background-position:center center;

}
.collection{
	background-image: url("images/CollectionApp.png");
	background-repeat: no-repeat;
	background-size:cover;
	background-position:center center;

}
.financeCalculator{
	background-image: url("images/financeCalculator.png");
	background-repeat: no-repeat;
	background-size:cover;
	background-position:center center;

}
.planets{
	background-image: url("images/planets.gif");
	background-repeat: no-repeat;
	background-size:cover;
	background-position:center center;

}
.portal{
	background-image: url("images/Portal.png");
	background-repeat: no-repeat;
	background-size:cover;
	background-position:center center;

}

.overlay:hover {
	transition: .2s linear;
	filter: grayscale(90%) blur(2px);
}
@media screen and (max-width: 1200px) {
	.centerNavBar {
		width: 500px;
		overflow:hidden;
}
.aboutPar{
	font-size:1.5rem;
	margin:35px 0px 230px 0px;	
}
.projectContainer{
	width:880px;
	height:900px;

}
.portBox{
	width:350px;
	height:175px;
	margin-left: 35px;
	margin-right: 25px;
}
a {
	  margin-right: 60px;
	  font-size: 1rem;
}
.gitLogo img {
	margin-top:0.5rem;
	width:50px;
}
.contactEmail{
	font-size:2.5rem;	
}
}

@media screen and (max-width: 1000px){
.titleAbout{
	font-size:3rem;
	padding:60px 80px;
}
.myImage{
	width:200px;
	height:300px;
}	
.aboutPar{
	font-size:1rem;		
}	
article h1{
	font-size:3rem;
}	
.projectContainer{
	width:800px;
	height:600px;
	margin:0 auto;
	margin-bottom:40px;
}
.portBox{
	float:left;
	width:200px;
	height:100px;
	margin-left: 120px;
	margin-top: 50px;
}
article{
background-color:#b69a46;
width: 100%;
}
.gitLogo img {
	width:40px;
}
.contactEmail{
	font-size:2rem;	
}
}

@media screen and (max-width: 850px) {
.titleAbout{
	padding:40px 60px;
}
header{
	height:400px;
}
header h1{
	font-size:3rem;
	padding-top:150px;
}
.portBox{
	width:300px;
	height:150px;
	margin-left: 120px;
}
.myImage{
	width:150px;
	height:240px;
}
.aboutPar{
	font-size:0.8rem;
	margin:30px 0px 170px 0px;
}
.gitLogo img {
	width:35px;
}
.contactEmail{
	font-size:1.5rem;	
}
	.projectContainer{
		width:500px;
		height:1600px;
		margin:0 auto;
		margin-bottom:40px;
	}
	.hidden{
		display: inline-block;
	}
}

@media screen and (max-width: 550px){
header h1 {
	font-size:2rem;
}
.titleAbout{
	font-size:2rem;
	padding:40px;
}	
.centerNavBar {
	width: 350px;
}
.myImage{
	width:80px;
	height:140px;
	
}
.aboutPar{
	font-size:0.6rem;
	margin:20px 0px 80px 0px;
}
article h1{
	font-size:2rem;
}
.portBox{
	width:180px;
	height:90px;
	margin-left: 60px;
}
a {
    margin-right: 30px;
	font-size: 1rem;
}
.gitLogo img {
	width:30px;	
}
.contactEmail{
	font-size:1rem;	
}
	.projectContainer{
		width:300px;
		height:1130px;
		margin:0 auto;
		margin-bottom:10px;
	}
	.hidden{
		display: inline-block;
	}
}



